.Tilt {
  background: linear-gradient(89deg, #030C40 40%, #D9B779 100%); /* w3c */
}

.Tilt-inner {
  display: flex;
  justify-content: center; /* Centra horizontal */
  align-items: center;     /* Centra vertical */
  height: 100%;
  width: 100%;
}